body {
  font-family: Helvetica, Arial;
  margin: 0;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
  gap: 10px;
  padding: 20px;
}

.gallery img, .gallery video {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 14px;
}

.card {
  display:block;
  margin:10px auto;
  padding:20px;
  width:240px;
  background:white;
  border-radius:14px;
  text-decoration:none;
  color:black;
  font-weight:bold;
}

.create-btn, .upload button, #backBtn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
}
